  <head>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    <link rel="stylesheet" href="/app.css">
    
    <title>Join Us</title>
  </head>
  <body>
    
    <div class="flex-container">
        <div class="container">
            <h1>JOIN US</h1>
    
            <P>Enter your email to join <strong><%=data%></strong> others on our waitlist</P>
            
            
            <form action="/register" method="POST">
                <input type="text" name="email" class="form" placeholder="Enter your email">
                <button>Join Now</button>
            </form>
        </div>
    </div>

    </body>
